# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#mods source code
Ars-Nouveau-1.20
Psi-1.20
SlashBlade_Resharped
TouhouLittleMaid
ModularGolems
Goety*
irons-spells-n-spellbooks-1.20.1
minecraft-1.20.1-src
revelationfix
Cataclysm
Youkai-Homecoming
Industrial-Foregoing
mhzy
Supplementaries
MaidAddition

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
