# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#mods source code
Ars-Nouveau-1.20
Psi-1.20
SlashBlade_Resharped
TouhouLittleMaid
ModularGolems
Goety-2-1.20-2.5.34-
Goety-2
irons-spells-n-spellbooks-1.20.1
irons-spells-n-spellbooks-new
minecraft-1.20.1-src
revelationfix
Cataclysm
Youkai-Homecoming
Industrial-Foregoing
Supplementaries
MaidAddition
TempStructureLootData
ResourceWorld
Enigmatic-Addons
new1.20.1
Applied-Energistics-2
structurify
FTB-Library

# other
eclipse
run
*.md
# Files from Forge MDK
forge*changelog.txt
.claude
.cursor
lll